<div ng-controller="ordersCtrl" ng-init="init()">
    <div class="space-seperator"></div>

    <div class="row">
        <div class="row" ng-controller="AlertsCtrl">
            <div class="col-xs-12" ng-repeat="(cat, msgs) in alerts | keys: ['orders']">
                <alert data-ng-repeat="alert in msgs" type="{{alert.type}}" close="closeAlert(cat, $index)"
                       ng-init="autoDismiss(cat, $index, 5000)">{{alert.msg}}
                </alert>
            </div>
        </div>
    </div>
    <div class="space-seperator"></div>
    <div class="row">
        <div class="col-md-12">
            <h3>Orders</h3>
            <hr>
            <div class="row" ng-if="orders.length">
                <div ng-repeat="order in orders" class="col-md-12">
                    <div class="thumbnail" style="padding: 15px">
                        <div class="col-md-12" style="padding-bottom: 15px; padding-right: 0">
                            <div class="col-md-1">
                                <button type="button" class="btn btn-danger btn-circle btn-xl"><em class="fa fa-spoon"></em>
                                </button>
                            </div>
                            <div class="col-md-6" style="font-weight: 400; color: grey">
                                <span ng-if="isRestaurant">Customer: {{order.customer_name}} | Ph. {{order.customer_mobile}}
                                    <button type="button" ng-click="blacklistUser(order.user)"
                                            ng-confirm-click="Are you sure you blacklist this user?"
                                            class="btn btn-sm btn-outline btn-primary"> <em class="fa fa-ban"></em> Blacklist
                                    </button>
                                </span>
                                <span ng-if="!isRestaurant">Restaurant: {{order.restaurant.name}} | Ph. {{order.restaurant.phone_number}}
                                </span><br>
                                <span ng-if="isRestaurant">{{order.customer_address}}, {{order.customer_locality}}</span><br>
                                <span ng-if="!isRestaurant">{{order.restaurant.address}}, {{order.restaurant.locality}}</span><br>
                                <span style="color: green">ORDER #{{order.oid}} | {{order.placed_at | date: 'dd/MM/yyyy, hh:mm a'}}</span><br>
                                <h5 style="color: orange;cursor:pointer;">{{order.status}} <span ng-if="order.status=='Cancelled'">(Reason - {{order.cancel_reason}})</span></h5>
                                <span ng-if="order.remarks">Remarks: {{order.remarks}}</span>
                                <span ng-if="order.bill_number">Bill #{{order.bill_number}}</span>
                            </div>
                            <div class="col-md-4" style="float: right;display: grid;justify-content: flex-end;">
                                <div ng-if="order.placed_at" class="flex-end">
                                    <span style="margin-right: 10px; margin-top: 5px">Placed {{order.placed_at | date: 'dd/MM/yyyy, hh:mm a'}}</span>
                                    <button type="button" class="btn btn-default btn-circle btn-sm"><em class="fa fa-shopping-cart"></em>
                                    </button>
                                </div>
                                <span ng-if="order.confirmed_at" class="timeline-arrow">
                                    <em class="fa fa-arrow-down" style="float: right"></em>
                                </span>
                                <div ng-if="order.confirmed_at" class="flex-end">
                                    <span style="margin-right: 10px; margin-top: 5px">Confirmed {{order.confirmed_at | date: 'dd/MM/yyyy, hh:mm a'}}</span>
                                    <button type="button" class="btn btn-warning btn-circle btn-sm"><em class="fa fa-check-circle-o"></em>
                                    </button>
                                </div>
                                <span ng-if="order.dispatched_at" class="timeline-arrow">
                                    <em class="fa fa-arrow-down" style="float: right"></em>
                                </span>
                                <div ng-if="order.dispatched_at" class="flex-end">
                                    <span style="margin-right: 10px; margin-top: 5px">Dispatched  {{order.dispatched_at | date: 'dd/MM/yyyy, hh:mm a'}}</span>
                                    <button type="button" class="btn btn-info btn-circle btn-sm"><em class="fa fa-user"></em>
                                    </button>
                                </div>
                                <span ng-if="order.delivered_at" class="timeline-arrow">
                                    <em class="fa fa-arrow-down" style="float: right"></em>
                                </span>
                                <div ng-if="order.delivered_at" class="flex-end">
                                    <span style="margin-right: 10px; margin-top: 5px">Delivered  {{order.delivered_at | date: 'dd/MM/yyyy, hh:mm a'}}</span>
                                    <button type="button" class="btn btn-success btn-circle btn-sm"><em class="fa fa-check-circle"></em>
                                    </button>
                                </div>
                                <span ng-if="order.received_at" class="timeline-arrow">
                                    <em class="fa fa-arrow-down" style="float: right"></em>
                                </span>
                                <div ng-if="order.received_at" class="flex-end">
                                    <span style="margin-right: 10px; margin-top: 5px">Received {{order.received_at | date: 'dd/MM/yyyy, hh:mm a'}}</span>
                                    <button type="button" class="btn btn-default btn-circle btn-sm"><em class="fa fa-inbox"></em>
                                    </button>
                                </div>
                                <span ng-if="order.cancelled_at" class="timeline-arrow">
                                    <em class="fa fa-arrow-down" style="float: right"></em>
                                </span>
                                <div ng-if="order.cancelled_at" class="flex-end">
                                    <span style="margin-right: 10px; margin-top: 5px">Cancelled  {{order.cancelled_at | date: 'dd/MM/yyyy, hh:mm a'}}</span>
                                    <button type="button" class="btn btn-danger btn-circle btn-sm"><em style="color: white" class="fa fa-ban"></em>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="caption">
                            <div class="row">
                                <h3> </h3>
                                <div class="col-md-12">
                                    <span ng-repeat="meal in order.order_items">
                                        <span style="font-size: 14px">
                                            <strong>{{meal['meal_name'] | uppercase}}</strong> x {{meal['quantity']}}
                                        </span>
                                        <span class="pull-right text-muted small">
                                            <span style="font-size: 14px; font-weight: bold">{{meal.sub_order_amount}}/-</span>
                                        </span>
                                        <hr>
                                    </span>
                                    <span >
                                        <span style="font-size: 14px">
                                            <strong>Delivery Charge</strong>
                                        </span>
                                        <span class="pull-right text-muted small">
                                            <span style="font-size: 14px; font-weight: bold">{{order.delivery_charge}}/-</span>
                                        </span>
                                    </span>
                                    <hr>
                                    <span >
                                        <span style="font-size: 14px">
                                            <strong>Packing Charges</strong>
                                        </span>
                                        <span class="pull-right text-muted small">
                                            <span style="font-size: 14px; font-weight: bold">{{order.packing_charge}}/-</span>
                                        </span>
                                    </span>
                                    <hr>
                                    <span>
                                        <span style="font-size: 14px">
                                            <strong>Tax </strong>
                                        </span>
                                        <span class="pull-right text-muted small">
                                            <span style="font-size: 14px; font-weight: bold">{{order.tax_amount}}/-</span>
                                        </span>
                                    </span>
                                    <hr>
                                </div>
                                <hr>
                                <div class="col-md-12">
                                    <span>
                                        <span style="font-size: 18px">
                                            <strong> Total Amount</strong>
                                        </span>
                                        <span class="pull-right text-muted small">
                                            <span style="font-size: 18px; font-weight: bold">{{order.total_bill_amount}}/-  ({{order.payment_mode}})</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-if="isRestaurant" class="col-md-6">
                                    <button type="button" ng-if="order.status=='Placed'" ng-click="changeOrder(order, 'Processing')"
                                            class="btn btn-lg btn-outline btn-success">Process
                                    </button>
                                    <button type="button" ng-if="order.status=='Processing'" ng-click="changeOrder(order, 'InRoute')"
                                            class="btn btn-lg btn-outline btn-info">Mark In-Route
                                    </button>
                                    <button type="button" ng-if="order.status=='InRoute'" ng-click="changeOrder(order, 'Delivered')"
                                            class="btn btn-lg btn-outline btn-warning">Delivered
                                    </button>
                                    <button ng-if="order.status!='InRoute' && order.status!='Delivered' && order.status!='Received' && order.status!='Cancelled'" ng-click="changeOrder(order, 'Cancelled')"
                                            type="button" class="btn btn-lg btn-outline btn-danger">Cancel
                                    </button>
                                </div>
                                <div ng-if="!isRestaurant" class="col-md-6">
                                    <button ng-if="order.status=='Placed'" ng-click="changeOrderStatus(order, 'Cancelled', false)"
                                            ng-confirm-click="Are you sure you want to Cancel this order?"
                                            type="button" class="btn btn-lg btn-outline btn-danger">Cancel</button>
                                    <button type="button" ng-if="order.status=='Delivered'" ng-click="changeOrderStatus(order, 'Received', false)"
                                            ng-confirm-click="Are you sure you received this order?"
                                            class="btn btn-lg btn-outline btn-success">Receive
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <pagination boundary-links="false" max-size="0" total-items="totalItems"
                                ng-model="$parent.currentPage" class="pagination-sm" previous-text="&laquo; Previous"
                                next-text="Next &raquo;" first-text="&laquo;" last-text="&raquo;"
                                items-per-page="page_size" ng-change="fetchOrders()">
                    </pagination>
                </div>
            </div>
            <div class="row" ng-if="!orders.length">
                <div class="col-md-12">
                    <h4 style="text-align: center">There are no orders yet!</h4>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="modal-change-status.html">
        <div class="modal-content ng-scope">
            <div class="modal-header">
                <h3>Are you sure you want mark this order as {{modifiedOrder.status}}?</h3>
            </div>
            <div class="modal-body">
                <form name="modal_form" ng-submit="changeOrderStatus(modifiedOrder,modifiedOrder.status,true)">
                    <div ng-if="modifiedOrder.status=='Cancelled'" class="form-group reason-box">
                        <label>Reason for rejection</label>
                        <select class="form-control" ng-model="modifiedOrder.cancel_reason" required>
                            <option value="" selected disabled>--Select Reason--</option>
                            <option ng-repeat="reason in rejectReasons" value="{{reason}}">{{reason}}</option>
                        </select>
                    </div>
                    <div ng-if="modifiedOrder.status=='Delivered' || modifiedOrder.status=='InRoute' || modifiedOrder.status=='Processing'"
                         class="form-group reason-box">
                        <label>Payment Status </label>
                        <select class="form-control" ng-model="modifiedOrder.payment_status">
                            <option value="" selected disabled>--Select Status--</option>
                            <option value="Pending">Pending</option>
                            <option value="Paid">Paid</option>
                            <option value="Settled">Settled</option>
                        </select>
                    </div>
                    <div ng-if="modifiedOrder.status=='Processing'" class="form-group reason-box">
                        <label>Bill Number </label>
                        <input type="text" minlength="1" maxlength="50" class="form-control" ng-model="modifiedOrder.bill_number" >
                    </div>
                    <div ng-if="modifiedOrder.status=='Processing'" class="form-group reason-box">
                        <label>ETA After Confirmation </label>
                        <input type="number" min="15" max="180" class="form-control" ng-model="modifiedOrder.eta_after_confirm" >
                    </div>
                    <div class="form-group reason-box">
                        <label>Remarks </label>
                        <textarea class="form-control" placeholder="Add remarks" minlength="5" maxlength="200"
                                  ng-model="modifiedOrder.remarks" >
                        </textarea>
                        <br/>
                    </div>
                    <div class="form-group" style="text-align: right">
                        <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal" ng-click="close()">Cancel</button>
                        <button type="submit" class="btn btn-success btn-lg"> Submit
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </script>
    <style>
        hr {
            margin: 5px 0 !important;
        }
        .timeline-arrow{
            padding-right: 11px;
            padding-top: 2px;
        }
    </style>
</div>

