<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <!--<sidebar-search></sidebar-search>-->
            <li ui-sref-active="active" ng-if="userRest.rid">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a href="javascript:void(0)" ng-click="goToRestaurant()"><i ng-if="userRest.rid" class="fa fa-bank fa-fw"></i>
                    <i ng-if="!userRest.rid" class="fa fa-spoon fa-fw"></i>
                    {{userRest.rid? ' Your Restaurant': ' Home'}}
                </a>
            </li>
            <li ng-if="userRest.rid" ui-sref-active="active">
                <a ui-sref="dashboard.meals"><i class="fa fa-spoon fa-fw"></i> Meals</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.orders"><i class="fa fa-briefcase fa-fw"></i> Orders</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>



